doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(
      rel  = "stylesheet",
      href = "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    )
  body
    .container
      block content
